## Задачи для совместного разбора

In [1]:
import pandas as pd

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
recipes = pd.read_csv('recipes_sample.csv')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [3]:
reviews = pd.read_csv('reviews_sample.csv')
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [4]:
print(f'RECIPES Кол-во строк: {recipes.shape[0]}, Кол-во столбцов: {recipes.shape[1]}, Тип данных каждого столбца: {type(recipes)}')
print(f'REVIEWS Кол-во строк: {reviews.shape[0]}, Кол-во столбцов: {reviews.shape[1]}, Тип данных каждого столбца: {type(recipes)}')

RECIPES Кол-во строк: 30000, Кол-во столбцов: 8, Тип данных каждого столбца: <class 'pandas.core.frame.DataFrame'>
REVIEWS Кол-во строк: 126696, Кол-во столбцов: 6, Тип данных каждого столбца: <class 'pandas.core.frame.DataFrame'>

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [5]:
print('RECIPES \n', recipes.isna().sum())
print(f'Доля строк к общему количеству: {(recipes.shape[0] - recipes.dropna().shape[0])/recipes.shape[0]}')
print('REVIEWS \n', reviews.isna().sum())
print(f'Доля пропусков к общему кол-ву: {(reviews.shape[0] - reviews.dropna().shape[0])/reviews.shape[0]}')

RECIPES
 name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
Доля строк к общему количеству: 0.5684666666666667
REVIEWS
 Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
Доля пропусков к общему кол-ву: 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [7]:
print('RECIPES \n',recipes.mean()[[1, 3, 4]])
print('REVIEWS \n',reviews.mean()[[-1]])

RECIPES
 minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64
REVIEWS
 rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [8]:
pd.Series(recipes['name'].sample(n=10))

27781                               tomato bredie
18960                            oatmeal crispies
24443                     slovakian cabbage bread
24772                     sommer s cinnamon mocha
27401    the best    spicy sriracha chicken wings
28842              very easy hamburger stroganoff
24945       southern living s country fried steak
21721                     pumpkin parfait squares
23047                                 rum cookies
101                          1 2 3 4 cake  orange
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [9]:
reviews.index = range(0, len(reviews))
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [10]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [11]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [12]:
recipes[recipes['submitted'] <= '2010-01-01']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [23]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [24]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [25]:
recipes['name_word_count'] = recipes['name'].apply(lambda i: ' '.join(i.split())).str.split(' ').str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [26]:
print(recipes['contributor_id'].value_counts(sort = True))

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [27]:
mid_rev = reviews.groupby(['recipe_id'], as_index=False).agg({'rating':'mean'})
print(f'Отсутствуют отзывы для {recipes.shape[0] - mid_rev.shape[0]} рецептов \n Средний рейтинг рецептов \n')
mid_rev

KeyError: 'recipe_id'

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [18]:
recipes.groupby([recipes.submitted.dt.year])['id'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [41]:
reviews.rename(columns={'recipe_id':'id'}, inplace = True)
new_resipes = pd.merge(recipes, reviews, on = 'id', how = 'inner')[['id', 'name', 'user_id', 'rating']]
new_resipes

,id,name,user_id,rating
0,77188,Subru uncle s whole green moong dal i ll be ma...,184447,4
1,77188,Subru uncle s whole green moong dal i ll be ma...,668205,5
2,77188,Subru uncle s whole green moong dal i ll be ma...,843746,5
3,77188,Subru uncle s whole green moong dal i ll be ma...,507469,4
4,77188,Subru uncle s whole green moong dal i ll be ma...,719941,0
...,...,...,...,...
126691,143615,Caramels,1425430,5
126692,143615,Caramels,136558,5
126693,143615,Caramels,1800106861,5
126694,143615,Caramels,302094,5
126695,143615,Caramels,646764,5

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [29]:
new_resipes = pd.merge(recipes, reviews, on = 'id', how = 'inner')
review_count = new_resipes.groupby(['id', 'name'], as_index = False).agg({'review':'count'}).rename(columns={'review':'review_count'})
review_count

           id                                        name  review_count
0          48                            Boston cream pie             2
1          55  Betty crocker s southwestern guacamole dip             4
2          66                 Black coffee barbecue sauce            18
3          91              Brown rice and vegetable pilaf             4
4          94                       Blueberry buttertarts             4
...       ...                                         ...           ...
28095  536547                         Cauliflower ceviche             1
28096  536610               Miracle home made puff pastry             1
28097  536728                       Gluten free  vegemite             1
28098  536729                Creole watermelon feta salad             4
28099  536747                          Lemon pom pom cake             4

[28100 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [30]:
new_tab = pd.merge(recipes, reviews, on = 'id', how = 'inner')
min_rat = new_tab.groupby([new_tab.submitted.dt.year])['rating'].mean()
min_rat[min_rat == min_rat.min()]

submitted
2017    2.75
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [32]:
recipes = recipes.sort_values('name_word_count', ascending=[False])
recipes.to_csv('recipes_ans.csv')
recipes_ans = pd.read_csv('recipes_ans.csv')
recipes_ans

,Unnamed: 0,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15
1,26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14
2,27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14
3,28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14
4,22778,Roasted garlic stuffed steak with garlic mashe...,38409,85,53227,2002-08-26,NaN,this is for all those garlic lovers out there ...,8.0,88.0,13
...,...,...,...,...,...,...,...,...,...,...,...
29995,23016,Rotini,207839,35,427101,2007-01-28,NaN,"i know the title is somewhat vague, but this i...",8.0,273.0,1
29996,23063,Runzas,55733,45,68585,2003-03-06,17.0,this is an old recipe from a chain of restaura...,10.0,69.0,1
29997,4340,Caesar,52399,1,67395,2003-01-27,4.0,"made with clamato, this is a very popular drin...",8.0,95.0,1
29998,21111,Pomidori,353387,2,498271,2009-02-02,NaN,a fresh and fruity sipper you're sure to enjoy!,NaN,47.0,1
29999,4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [43]:
with pd.ExcelWriter("recipes_ex.xlsx") as writer:
    new_resipes.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    review_count.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

In [44]:
ex1 = pd.read_excel('recipes_ex.xlsx', sheet_name='Рецепты с оценками')
ex1

,id,name,user_id,rating
0,77188,Subru uncle s whole green moong dal i ll be ma...,184447,4
1,77188,Subru uncle s whole green moong dal i ll be ma...,668205,5
2,77188,Subru uncle s whole green moong dal i ll be ma...,843746,5
3,77188,Subru uncle s whole green moong dal i ll be ma...,507469,4
4,77188,Subru uncle s whole green moong dal i ll be ma...,719941,0
...,...,...,...,...
126691,143615,Caramels,1425430,5
126692,143615,Caramels,136558,5
126693,143615,Caramels,1800106861,5
126694,143615,Caramels,302094,5
126695,143615,Caramels,646764,5

In [36]:
ex2 = pd.read_excel('recipes_ex.xlsx', sheet_name='Количество отзывов по рецептам')
ex2

           id                                        name  review_count
0          48                            Boston cream pie             2
1          55  Betty crocker s southwestern guacamole dip             4
2          66                 Black coffee barbecue sauce            18
3          91              Brown rice and vegetable pilaf             4
4          94                       Blueberry buttertarts             4
...       ...                                         ...           ...
28095  536547                         Cauliflower ceviche             1
28096  536610               Miracle home made puff pastry             1
28097  536728                       Gluten free  vegemite             1
28098  536729                Creole watermelon feta salad             4
28099  536747                          Lemon pom pom cake             4

[28100 rows x 3 columns]